@model ModeloDDD_AV2.MVC.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Fornecedor";
}

<h2>Deletar Fornecedor</h2>

<h3>Tem certeza que voce quer deletar esse fornecedor?</h3>
<div>
    <!--<h4>FornecedorViewModel</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscricaoMunicipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscricaoMunicipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaBruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaBruta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar Fornecedor" class="btn btn-default" /> |
            @Html.ActionLink("Retornar à Lista", "Index")
        </div>
    }
</div>
