@model ModeloDDD_AV2.MVC.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Fornecedor";
}

<h2>Detalhes do Fornecedor</h2>

<div>
    <!--<h4>FornecedorViewModel</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscricaoMunicipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscricaoMunicipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaBruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaBruta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FornecedorId }) |
    @Html.ActionLink("Retornar à lista", "Index")
</p>
