@model IEnumerable<ModeloDDD_AV2.MVC.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Produto";
}

<h2>Listagem de Produtos</h2>

<p>
    @Html.ActionLink("Criar Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FornecedorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FornecedorId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
