@model ModeloDDD_AV2.MVC.ViewModels.ProcessoViewModel

@{
    ViewBag.Title = "Processo";
}

<h2>Criar Novo Processo</h2>

<div class="form-group">
    @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <p>Pesquisar CNPJ</p>
        @using (Html.BeginForm("Create", "Processos", FormMethod.Get))
        {
            @Html.TextBox("PesquisaCnpj")
            <input type="submit" value="Pesquisar" />
        }
        <p> </p>
        <p>CNPJ: @Html.ValueFor(model => model.Cnpj)</p>
        <p>Razão Social: @Html.ValueFor(model => model.RazaoSocial)</p>
        <p>Inscrição Municipal: @Html.ValueFor(model => model.InscricaoMunicipal)</p>
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!--<h4>ProcessoViewModel</h4>-->
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RelatoFiscalizacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelatoFiscalizacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelatoFiscalizacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataRelato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataRelato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataRelato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FiscalResponsavel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FiscalResponsavel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FiscalResponsavel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FornecedorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FornecedorId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FornecedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Processo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retornar à lista", "Index")
</div>
