@model IEnumerable<ModeloDDD_AV2.MVC.ViewModels.ProcessoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatoFiscalizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FornecedorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatoFiscalizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalResponsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FornecedorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProcessoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProcessoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProcessoId })
        </td>
    </tr>
}

</table>
